.estate{
    margin-bottom: 40px;
}
.inner_sec_info_agile_w3_info p {
    line-height: 30px;
    text-align: justify;
}
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Montserrat', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
img{
	width:100%;
}


/*-- navigation --*/
.top-nav {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding: 1em 0;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    border: 1px solid #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    margin: 0 .2em;
    padding: 10px 12px;
    border: 1px solid transparent;
}
ul.dropdown-menu a {
    color: #333;
    font-size: 17px;
    padding: 2px 12px;
    display: block;
    border: 1px solid transparent;
}
.navbar-light .navbar-brand,.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #2dde98;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 1px solid #2dde98;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    border: 1px solid #fff;
}
.navbar-light .navbar-brand span {
    display: block;
    font-size: 13px;
    text-align: center;
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: -50%;
}
/*-- //navigation --*/

/*--banner-slider--*/

#slider2,
#slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	width: 100%;
}

.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}

.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	bottom: 45%;
	left: 0;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	width: 32px;
	height: 32px;
}

.callbacks_nav:hover {
	opacity: 0.5;
}

.callbacks_nav.next {
	left: auto;
	left: 51%;
}

.callbacks_nav.prev {
	background: transparent url(../images/left11.png) no-repeat;
	left: 6%;
}

.callbacks_nav.next {
	background: transparent url(../images/right11.png) no-repeat;
	left: 92%;
}

#slider3-pager a {
	display: inline-block;
}

#slider3-pager span {
	float: left;
}

#slider3-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}

#slider3-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}

#slider3-pager a {
	padding: 0;
}

#slider3-pager li {
	display: inline-block;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	height: auto;
	border: 0;
}

.callbacks_tabs {
	list-style: none;
	position: absolute;
	bottom: 21%;
	left: 68.5%;
	padding: 0;
	margin: 0;
	z-index: 990;
	display: block;
	text-align: center;
}

.slider-top span {
	font-weight: 600;
}

.callbacks_tabs li {
	display: inline-block;
	margin: 0 5px;
}

.animated {
	z-index: 99;
}


/*----*/
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 93%;
    left: 47%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after {
    background: #4dd0e1;
    border: 2px solid #ffffff;
}

/*----*/

.slider_banner_info_w3ls {
	padding-top: 26%;
}

.slider_banner_info_w3ls h4,.slider_banner_info_w3ls h1,.slider_banner_info_w3ls h2 {
	font-size: 3em;
	line-height: 1.5em;
	color: #fff;
	letter-spacing: 4px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}
.slider_banner_info_w3ls a.read {
	color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 2px;
	position: relative;
    border: 1px solid #fff;
    padding: 13px 20px;
}
.slider_banner_info_w3ls a.read:hover {
    background: #2dde98;
    border: 1px solid #2dde98;
}
.slider_banner_info_w3ls a.read:after{
	position: absolute;
	content: "";
	background: #fff;
	width: 100px;
	height: 2px;
	left: 110%;
	bottom: 50%;
}
.dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}

img.img-responsive {
	width: 100%;
}

.slider-img1 {
	background: url(../images/1.jpg) no-repeat 0px 0px;
}

.slider-img2 {
	background: url(../images/6.jpg) no-repeat 0px 0px;
}

.slider-img3 {
	background: url(../images/5.jpg) no-repeat 0px 0px;
}

.slider-img4 {
	background: url(../images/7.jpg) no-repeat 0px 0px;
}

.slider-img1,.slider-img2,.slider-img3,.slider-img4 {
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	min-height: 770px;
}
.banner{
	background: url(../images/bann2.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	min-height: 300px;
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #4dd0e1;
    border: 2px solid #ffffff;
}
a.view i {
    margin-right: 15px;
    font-size: 45px;
    vertical-align: middle;
}
a.view {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/*-- //Slider --*/

/*-- estate --*/

.grid1 h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
    color: #333;
}

/*-- //estate --*/

/*-- services --*/

.service-grids h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
	color: #333;
}
.service-grids p {
    font-size: 15px;
    color: #444;
    line-height: 28px;
}
.service-grids span.fas,.service-grids span.fab {
    font-size: 50px;
    color: #2dde98;
	position: relative;
}
.service-grids span.fas:after,.service-grids span.fab:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #000;
    left: 150%;
    top: 50%;
}
.service-grids a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid #333;
    letter-spacing: 1px;
    color: #333;
}
.service-grids a:hover {
    background: #2dde98;
    border: 1px solid;
    color: #fff;
}
/*-- services --*/


/*--team --*/
h1.heading,h2.heading,h3.heading {
    font-size: 40px;
    color: #333;
	font-weight: 300;
	position: relative;
}
.heading {
	position: relative;
}
h4.position {
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 80px;
    color: #ccc;
    opacity: .5;
    z-index: 1;
    font-weight: 900;
}
h4.position.cont {
    left: 6%;
}
h1.heading span,h2.heading span,h3.heading span{
	font-weight: 600;
}
h1.heading:after,h3.heading:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #333;
    left: 0%;
    bottom: 0%;
}
h2.heading:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #333;
    left: 0%;
    bottom: 30%;
}
.profile h4 {
    font-weight: 600;
    font-size: 20px;
    color: #222;
    letter-spacing: 1px;
}
.profile p{
    font-size: 15px;
    letter-spacing: 2px;
    color: #343434;
    text-transform: capitalize;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul li a:hover{
    background: transparent;
}
.img-box ul li {
    display: inline-block;
}
.img-box ul li a{
    border: 1px solid #000;
    width: 35px;
    height: 35px;
    font-size: 12px;
    display: block;
    margin: 0 3px;
    line-height: 35px;
    border: 1px solid #fff;
}
.img-box a span.fab,.img-box a span.fa{
	color: #fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul {
    opacity: 1;
    margin-bottom: 15px;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li {
    border-color: #fff;
    color: #fff;
}
.img-box img {
    width: 100%;
}
/*--team --*/

/*-- gallery --*/
.w3l_gallery_grid li{
	display: inline-block;
    float: left;
    width: 25%;
    padding: .5%;
}
.box {
    position: relative;
    overflow: hidden;
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.box .overbox {
	background-color:rgba(33, 33, 33, 0.58);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    padding-top: 5em;
}
.box,.box .overbox {
	height: 230px;
}
.box:hover .overbox { opacity: 1; }

.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.box .title {
    font-size: 1.3em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    text-align: center;
    padding: 10px;
	letter-spacing: 2px;
}
.box p.title {
    font-size: 1em;
    text-transform: capitalize;
    opacity: 0;
    padding: 0px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    text-align: center;
	letter-spacing: 1px;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
	font-size: 13px;
    line-height:1.8em;
	opacity: 0;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}
ul#lightGallery {
    margin-top: 2em;
}
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #0099e5;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}
.modal-content h5 {
    color: #000;
    padding: 20px 0 6px;
    font-size: 22px;
    margin-left: 0px;
}
.modal-content p {
    color: #676464;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 20px 30px;
}
.agileits_about_left h3 {
    text-align: left;
}
.agileits_about_left p {
    text-align: left;
}
/*-- //gallery --*/

/* -- map --*/
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
    margin-bottom: -7px;
}
.contact{
	position: relative;
}
.contact_info {
    position: absolute;
    width: 60%;
    bottom: 0%;
	top: 0%;
    background: rgba(0, 0, 0, 0.7);
    padding: 3em 2em;
}
.contact_info h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
}
.contact_info span {
    font-size: 30px;
    color: #fff;
}
.contact_info p, .contact_info a {
    margin: 0;
    font-size: 15px;
    color: #ccc;
    line-height: 28px;
    letter-spacing: .5px;
    display: block;
}
.contact_info span.fab {
    font-size: 15px;
    width: 20px;
}

/* -- map --*/


/*-- contact --*/
.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #666;
	background: #fff;
	outline: none;
	padding: 0.7em;
	width: 100%;
	letter-spacing: 1px;
	margin-bottom: 1em;
	margin-top: 1em;
	color: #666;
	box-sizing: border-box;
}

.contact_form textarea {
	outline: none;
	resize: none;
	height: 150px;
}

.contact_form input[type="submit"] {
	background: #2dde98;
	border: 1px solid #2dde98;
	color: #fff;
	padding: 12px 20px;
	margin-top: 1em;
	outline: none;
	font-size: 16px;
	letter-spacing: 1px;
	cursor: pointer;
}
.w3ls-left, .w3ls-rght {
    width: 49%;
    float: left;
}
.input-w3ls.w3ls-rght {
    float: right;
}
.contact_form input[type="submit"]:hover {
	background: transparent;
	border: 1px solid #333;
	color: #333;
}

/*-- //contact --*/

/* index page about --*/

.left-grid p,.right-grid p {
    font-size: 15px;
    color: #444;
    line-height: 28px;
}
.left-grid img{
	width:22%
}
.right-grid h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
    color: #333;
}
.right-grid span.fas,.right-grid span.fab {
    font-size: 35px;
    color: #333;
}
.icon1  span.fas {
	color: #0099e5;
}
.icon2  span.fas{
	color: #2c9f45;
}
.icon3  span.fab{
	color: #fd5c63;
}
.icon4  span.fas{
	color: #f48924;
}
.aboutbottom a {
    padding: 15px 35px;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid #2dde98;
    color: #2dde98;
    letter-spacing: 1px;
}
.aboutbottom a:hover {
    color: #fff;
    background: #2dde98;
}
.aboutbottom {
    background: #1b1b1b;
}
.aboutbottom h3 {
    font-size: 30px;
    color: #bbb;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 50px;
}
/* //index page about --*/

/** Testimonials**/
.testimonials h5{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;	
}
.info {
	float: left;
}
.test-review p {
    font-size: 16px;
    line-height: 30px;
    color: #eee;
    letter-spacing: 0px;
}
.test-review img{
	 border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}
.test-review p img {
    margin: 0 10px!important;
	box-shadow:none;
}
.test-review img {
    margin: 0 auto;
	float: left;
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.test-review i {
	font-size: 30px;
	color: #fff;
	margin-bottom:30px;
}
.testimonials{
	background-color:#ff9d3b;
}
.testimonials h3.heading  {
    color: #fff;
}
.testimonials h3.heading:after  {
    background: #fff;
}
.test-review {
    width: 100%;
	padding: 2em;
}
/* testimonals */
.testimonal img {
    border-radius: 50%; 
}
.testimonals {
    padding: 5em 0;
}
.first-grid {
    text-align: center;
    padding: 40px 10px;
    margin-right: 10px;
	background: #000;
}
.first-grid h3 {
    text-transform: uppercase;
    color: #FFC107;
    font-size: 19px;
    font-weight: 600;
    margin: 20px 0 0;
}
.first-grid  h4 {
    margin: 5px 0;
    text-transform: capitalize;
}
.first-grid p {
    font-size: 14px;
    color: #999;
    margin: 10px 0;
    line-height: 24px;
}
/*-- testimonials --*/


/*--/newsletter--*/
.newsletter{
	background: #2dde98;
}
.newsright input[type="email"] {
    outline: none;
    width: 100%;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    width: 74%;
    letter-spacing: 3px;
    background: none;
}

.newsright input[type="submit"] {
    border: none;
    padding: 16px 35px 16px;
    font-size: 15px;
    outline: none;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #fff;
    color: #2dde98;
}

.newsright input[type="submit"]:hover {
    background: #080808;
    color: #ffffff;
}

.newsleft h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #fff;
    letter-spacing: 2px;
}

.blog_sec {
    padding-top: 7em;
}

/*--//newsletter--*/

.newsletter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.newsletter ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.newsletter ::-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.newsletter ::-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*-- footer --*/

.footer-nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 1em;
    border-bottom: 2px solid rgba(226, 222, 222, 0);
}

ul.footer-nav li a {
    color: #ddd;
    font-size: 1.1em;
    display: inline-block;
}

ul.footer-nav li a:hover {
    color: #fff;
}
.f1 p {
    font-size: 16px;
    color: #777;
    line-height: 29px;
}

ul.footer-nav li a.active {
    color: #d66047;
    font-weight: 600;
}
.w3_agile-footer-grids {
    border: 1px solid #404040;
    border-width: 1px 0;
}
.w3_agile-footer1.f1 h2 a {
    color: #fff;
    font-size: 1em;
	text-transform: uppercase;
}

.w3_agile-footer1 h5.f1 {
    margin: 1.1em 0 0.5em;
}

.w3_agile-footer1 h5 {
    text-transform: uppercase;
    font-size: 1.1em;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
}

ul.w3ls-footer-bottom-list li {
    list-style-type: none;
    margin: 0.5em 0;
    text-transform: capitalize;
}

ul.w3ls-footer-bottom-list li a,
ul.footer-social-icons li a {
    color: #777;
    text-transform: capitalize;
}
ul.w3ls-footer-bottom-list li a:hover, ul.footer-social-icons li a:hover {
    color: #bbb;
}
ul.footer-social-icons li {
    list-style-type: none;
    margin: 0.5em 0;
}

.agileits_w3layouts-copyright p a{
    color: #ccc;
}
.agileits_w3layouts-copyright p a:hover{
    color: #fff;
}
.agileits_w3layouts-copyright p {
    color: #888;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 26px;
}
.agile-footer.w3ls-section {
    background: #131313;
}

/*-- //footer --*/

/*-- //About page --*/

/*-- /banner_bottom --*/

.banner_bottom_left h4 {
    font-size: 1.5em;
    color: #3c3c3c;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    line-height: 1.6em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.banner_bottom_left p {
    font-size: 16px;
    color: #777;
    line-height: 29px;
    margin: 0;
}
.help_full {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.banner_bottom_in {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.banner_bottom_in img {
    background-color: #ebeeef;
    padding: 0.5em;
}

.ab_button {
    margin-top: 2em;
}

.ab_button a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid #333;
    letter-spacing: 1px;
    color: #333;
	background: transparent;
	border-radius: 0px;
}

.ab_button a:hover {
    background: #2dde98;
    border: 1px solid #2dde98;
    color: #fff;
}

.banner_bottom_in h3 {
    line-height: 1.3em;
}

.banner_bottom_in iframe {
    width: 600px;
    min-height: 333px;
    border: 6px solid #ddd;
    margin-top: 3em;
}

.help_full::before {
    border-top: 4px solid #2dde98;
    border-left: 4px solid #2dde98;
    content: "";
    height: 60%;
    left: -20px;
    position: absolute;
    top: -20px;
    right: 20px;
}
/*--slider--*/

#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
}

.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}

/****
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background:#222 url(../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background:#222 url(../images/right.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background:#222 url(../images/left.png) no-repeat 0px 0px;
    left: -58px;
}
/****/

#slider3-pager a {
    display: inline-block;
}

#slider3-pager span {
    float: left;
}

#slider3-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider3-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider3-pager a {
    padding: 0;
}

#slider3-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: 42%;
    right: 0%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}

.slider-top span {
    font-weight: 600;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0px 3px;
}

/*----*/

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: #2b3945;
    border-radius: 50%;
}

.callbacks_here a:after {
    background: #ff3c41;
}

/*-- //slider --*/

/*-- modal --*/
.modal-body {
    font-size: 15px;
    line-height: 28px;
    color: #2a2a2a;
}
.modal-title {
    font-size: 28px !important;
    font-weight: 600;
    padding: 0 !important;
	letter-spacing: 2px;
    color: #333;
}
/*-- //modal --*/

/*-- properties --*/
h3.agile-tittle.two {
    color: #fff;
}
.team-grid-text-agile{
    padding:6em 5em 5em 5em;
}
.team-grid {
    text-align: center;
}
.team-grid img {
    width: 100%;
}
.team-img {
    position: relative;
}
.team-img:hover .overlay {
    /*cursor: pointer;*/
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
    -o-transform: rotateY(0deg) scale(1,1);
    transform: rotateY(0deg) scale(1,1);
}
.team-img .overlay {
   padding: 4em 0.5em;
    line-height: 24px;
}
.overlay {
    background:rgba(0, 0, 0, 0.45);
    text-align: center;
    position: absolute;
    left: 22px;
    right: 22px;
    top: 22px;
    bottom: 22px;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5,0.5);
    -moz-transform: rotateY(180deg) scale(0.5,0.5);
    -ms-transform: rotateY(180deg) scale(0.5,0.5);
    -o-transform: rotateY(180deg) scale(0.5,0.5);
    transform: rotateY(180deg) scale(0.5,0.5);
}
.team-grid {
    text-align: center;
    padding: 0 1em;
}
.agile-team-grids {
    padding: 0;
}
.prop-info-w3ls {
    background: #2dde98;
    padding: 12px 10px;
}
.both-w3-agileits {
    margin: 0 1em;
    display: inline-block;
}
.both-w3-agileits p {
    color: #eee;
    font-size: 15px;
}
.both-w3-agileits i {
    color: #fff;
	margin-right:5px;
}
.prop-btm-w3ls h4 {
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 20px;
    width: 100%;
}
.prop-btm-w3ls h4 span {
    color: #29df99;
    float: right;
}
.prop-btm-w3ls {
    text-align: left;
    margin-top: 1em;
}
.prop-btm-w3ls p {
    color: #333;
    font-size: 17px;
    letter-spacing: 0.7px;
    margin: 10px 0 0 20px;
}
.prop-btm-w3ls p i {
    display: inline-block!important;
	margin-right:10px;
	color:#777!important;
}
.team-img a {
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
    padding: 10px 25px;
    background: #fff;
    font-size: 16px;
    display: inline-block;
    margin-top: 4em;
    outline: none;
}
.w3-property-grid2 {
    margin-top: 3em;
}
/*-- //properties --*/


/*-- pricing --*/
.price-list i.far,.price-list i.fa {
    font-size: 17px;
    color: #333;
}
.price-grid i.fas {
    font-size: 30px;
    margin: 15px 0;
    color: #fff;
    position: absolute;
    top: -11%;
    left: 39%;
    background: #29df99;
    border: 2px solid;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.price-list ul {
    padding: 0px;
    list-style: none;
}
.price-gd-top {
    text-align: center;
}
.price-gd-top h4 {
    font-size: 2em;
    color: #333;
    padding: 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.price-gd-top p{
    color: #eee;
    margin: 1em 0;
}

.price-gd-top h3 {
    padding: 0.2em 0em;
    font-size: 3em;
    color: #fff;
}
.price-gd-top h3 span {
    font-size: 30px;
    vertical-align: top;
}
.price-gd-top h5 {
    font-size: 1em;
    line-height: 26px;
    color: #fff;
    margin: 1em 0;
    text-align: center;
    text-transform: capitalize;
}
.price-gd-bottom {
    text-align: center;
    padding: 0em;
}
.price-gd-top.pric-clr2 h4 {
}
.price-gd-top.pric-clr2 {
}
.price-selet.pric-sclr2 a {
     background: #fff;
}
.price-gd-top.pric-clr3 {
}
.price-gd-top.pric-clr3 h4 {
}
.price-gd-top.pric-clr4 {
	background:#673AB7;
}
.price-gd-top.pric-clr4 h4 {
	background: #5426a5;
}
.price-selet.pric-sclr3 a {
    background: #fff;
}
.price-list ul li {
    padding: 0.5em 0em;
    font-size: 0.9em;
    color: #2b2b2b;
    display: inline-block;
}
.price-selet {
    padding: 1em 0em 0;
    text-align: center;
}
.price-selet a {
    font-size: 1.1em;
    color: #fff;
    display: block;
}
.price-selet a {
    font-size: .9em;
    color: #333;
    display: inline-block;
    padding: 0.8em 2em;
    letter-spacing: 1px;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
a.w3_agileits_sign_up2.popup-with-zoom-anim.ab.scroll:hover {
    background: #333;
    color: #fff;
}
.price-block {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    background: #ff6c5f;
    position: relative;
}
.price-block1 {
    background: #1cc7d0;
}
.price-block2 {
    background: #ff9933;
}
.price-block:hover,.w3layouts-pricing:hover,.w3-agileits-vpn-grid:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
    z-index: 1;
}
/*-- //pricing --*/

/*-- //single --*/

p.read_para {
    margin: 2em 0;
    line-height: 2em;
    color: #666;
    font-size: 16px;
}

p.read_para i {
    color: #29df99;
    font-family: initial;
    font-size: 19px;
}

.read_img img {
    width: 100%;
}

.property-info li {
    display: inline-block;
    margin-right: 1em;
    font-size: 16px;
    float: none;
    width: inherit;
    left: auto;
    right: auto;
    color: #333;
    font-weight: 600;
}
p.para {
    font-size: 16px;
    color: #535353;
}
p strong {
    color: #333;
    margin-right: .5em;
}
.read_img span.fas {
    margin-right: .5em;
    color: #F44336
}
.property-info li  span.fas {
    color: #F44336;
    margin-right: 5px;
}

/*-- //single --*/

/*-- plan --*/
.plan-left {
    padding: 0;
}
.plan-right h3.floor {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
    color: #333;
    text-transform: uppercase;
    position: relative;
}
.plan-right h3.floor:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #333;
    left: 0%;
    bottom: 0%;
}
.plan-right p {
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    color: #555;
}
/*-- //plan --*/


/*-- odometer --*/

.odometer1 {
    background: url(../images/stats.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
}

.odometer {
	font-size: 3em;
	color: #2dde98;
	font-weight: 700;
}

.w3_stats_grid p {
    font-size: 16px;
    color: #111;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(196, 196, 196, 0.4);
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-car {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-car .odometer-digit {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-car .odometer-digit {
	*display: inline;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-car .odometer-digit .odometer-digit-spacer {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-car .odometer-digit .odometer-digit-spacer {
	*display: inline;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
	text-align: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-car .odometer-digit .odometer-ribbon {
	display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-car .odometer-digit .odometer-ribbon-inner {
	display: block;
	-webkit-backface-visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-car .odometer-digit .odometer-value {
	display: block;
	-webkit-transform: translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-car .odometer-digit .odometer-value.odometer-last-value {
	position: absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-car.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-car.odometer-animating-down .odometer-ribbon-inner {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-car .odometer-digit {
	padding: 0 0em;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
	left: 0em;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

/*-- //odometer --*/


/*-- innerpage_banner --*/

.innerpage_banner{
	background: url("../images/1.jpg") no-repeat 0px 0px;
	background-size: cover;
	min-height: 250px;
}
.dot1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	min-height: 250px;
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
/*-- innerpage_banner --*/

/*-- //About page --*/

/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*-- Responsive Design --*/

@media(max-width: 1440px){
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 700px;
	}
}
@media(max-width: 1366px){
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 650px;
	}
	.slider_banner_info_w3ls {
		padding-top: 22%;
		padding-left: 3%;
	}
	.contact_info h3 {
		font-size: 19px;
	}
	.both-w3-agileits {
		margin: 0 .5em;
	}
	.team-img a {
		margin-top: 3em;
	}
}
@media(max-width: 1280px){
	.grid1 h3 {
		font-size: 18px;
	}
	h4.position {
		font-size: 70px;
	}
	.prop-info-w3ls {
		padding: 12px 9px;
	}
	.team-img a {
		margin-top: 2em;
	}
	.contact_info {
		width: 65%;
	}
}
@media(max-width: 1080px){
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 620px;
	}
	.slider_banner_info_w3ls {
		padding-top: 24%;
		padding-left: 6%;
	}
	.newsright input[type="submit"] {
		padding: 16px;
		width: 30%;
	}
	.newsright input[type="email"] {
		float: left;
		width: 70%;
	}
	.w3_agile-footer1 h5 {
		font-size: 1em;
	}
	.w3_agile-footer1.f1 h2 a {
		color: #fff;
		font-size: .9em;
		text-transform: uppercase;
	}
	.odometer {
		font-size: 2.5em;
	}
	.w3_stats_grid p {
		font-size: 15px;
		letter-spacing: 0px;
	}
	.price-gd-top h5 {
		font-size: .9em;
	}
	.team-grid {
		padding: 0 .3em;
	}
	.both-w3-agileits p {
		font-size: 14px;
	}
	.both-w3-agileits {
		margin: 0 .3em;
	}
	.prop-btm-w3ls h4 {
		font-size: 16px;
		letter-spacing: 0px;
		padding: 0 15px;
	}
	.contact_info {
		width: 70%;
	}
}
@media(max-width: 1024px){
	.plan-right h3.floor {
		font-size: 27px;
	}
	.prop-info-w3ls {
		padding: 12px 6px;
	}
	.team-img a {
		margin-top: 1em;
	}
	.contact_info h3 {
		font-size: 16px;
	}
}
@media(max-width: 991px){
	.slider_banner_info_w3ls h4, .slider_banner_info_w3ls h1, .slider_banner_info_w3ls h2 {
		font-size: 2.5em;
	}
	.navbar-light .navbar-toggler {
		border-color: #2dde98;
		background: #2dde98;
	}
	.navbar-toggler {
		font-size: 1.25rem;
		border-radius: 0rem;
	}
	ul.navbar-nav {
		background: rgba(0, 0, 0, 0.7);
		padding: 2em;
	}
	.slider_banner_info_w3ls {
		padding-top: 31%;
	}
	.left-grid img {
		width: 15%;
	}
	.aboutbottom h3 {
		font-size: 26px;
	}
	.profile {
		padding: 0 7px;
	}
	.newsleft h3 {
		letter-spacing: 1px;
	}
	h4.position {
		left: 10%;
	}
	h4.position.cont {
		left: 10%;
	}
	.help_full {
		width: 100%;
	}
	.test-review {
		padding: 1em;
	}
	.test-review img {
		width: 50px;
		height: 50px;
	}
	.w3l_gallery_grid li {
		width: 33.33%;
	}
	.agile-team-grids {
		padding: 0;
		padding: 0 8em;
	}
	.team-img a {
		margin-top: 4em;
	}
	.contact-grid1 {
		padding: 0 5px;
	
	}
	.contact_info {
		width: 80%;
	}
}
@media(max-width: 900px){
	.agile-team-grids {
		padding: 0 6em;
	}
}
@media(max-width: 800px){
	.team-img a {
		margin-top: 2em;
	}
	.contact_info {
		width: 100%;
		position: static;
		margin: 0;
	}
}
@media(max-width: 768px){
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 550px;
	}
	.slider_banner_info_w3ls h4, .slider_banner_info_w3ls h1, .slider_banner_info_w3ls h2 {
		letter-spacing: 2px;
	}
	.slider_banner_info_w3ls {
		padding-left: 10%;
	}
	.grid1 h3 {
		font-size: 17px;
		letter-spacing: 0px;
	}
}
@media(max-width: 736px){
	.slider_banner_info_w3ls {
		padding-left: 0%;
	}
	.slider_banner_info_w3ls h4, .slider_banner_info_w3ls h1, .slider_banner_info_w3ls h2 {
		font-size: 2.2em;
	}
	.slider_banner_info_w3ls {
		padding-top: 36%;
	}
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 530px;
	}
	.aboutbottom h3 {
		font-size: 20px;
		letter-spacing: 0px;
		line-height: 40px;
	}
	.footer-nav li {
		margin: 0px .5em;
	}
	.agileits_w3layouts-copyright p {
		font-size: 14px;
	}
	h4.position {
		left: 13%;
	}
	h4.position.cont {
		left: 13%;
	}
	.innerpage_banner, .dot1 {
		min-height: 200px;
	}
	.w3l_gallery_grid li {
		width: 50%;
	}
	h1.heading, h2.heading, h3.heading {
		font-size: 38px;
	}
	.team-img a {
		margin-top: 1.5em;
	}
	iframe {
		height: 300px;
	}
}
@media(max-width: 667px){
	h4.position {
		font-size: 60px;
		top: 50%;
	}
	.agile-team-grids {
		padding: 0 4em;
	}
}
@media(max-width: 640px){
	.slider_banner_info_w3ls {
		padding-left: 11%;
	}
	.slider_banner_info_w3ls h4, .slider_banner_info_w3ls h1, .slider_banner_info_w3ls h2 {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 490px;
	}
	.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
		font-size: 28px;
		letter-spacing: 0px;
	}
	.agile-team-grids {
		padding: 0 2em;
	}
}
@media(max-width: 568px){
	.estate {
		padding: 0 3em;
	}
	.callbacks_nav.next {
		left: 90%;
	}
	.help_full {
		width: 90%;
	}
	.innerpage_banner, .dot1 {
		min-height: 170px;
	}
	.agile-team-grids {
		padding: 0 6em;
	}
	.team-img a {
		margin-top: 4em;
	}
	
	iframe {
		height: 250px;
	}
}
@media(max-width: 480px){
	ul.footer-nav li a {
		font-size: 1em;
	}
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 460px;
	}
	.slider_banner_info_w3ls a.read:after {
		width: 70px;
	}
	.callbacks_nav.prev {
		left: 5%;
	}
	h4.position.cont {
		font-size: 50px;
	}
	.plan-right h3.floor {
		font-size: 24px;
	}
	.agile-team-grids {
		padding: 0 4em;
	}
}
@media(max-width: 414px){
	.footer-nav li {
		margin: 0px .2em;
	}
	.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
		font-size: 25px;
		letter-spacing: 0px;
		padding: 5px 15px;
	}
	h1.heading, h2.heading, h3.heading {
		font-size: 33px;
	}
	h4.position {
		font-size: 40px;
		top: 51%;
		left: 17%;
	}
	h4.position.cont {
		left: 17%;
	}
	h4.position.cont {
		font-size: 45px;
	}
	.banner_bottom_left h4 {
		font-size: 1.2em;
	}
	.property-info li {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.price-gd-top h3 {
		font-size: 2.5em;
	}
	.price-gd-top h4 {
		font-size: 1.5em;
	}
	.test-review i {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.testimonials h5 {
		font-size: 18px;
	}
	.w3l_gallery_grid li {
		width: 100%;
	}
	h4.position.cont {
		font-size: 41px;
	}
	.agile-team-grids {
		padding: 0 2em;
	}
	.w3ls-left, .w3ls-rght {
		width: 100%;
		float: none;
	}
	.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea {
		font-size: 14px;
	}
}
@media(max-width: 384px){
	.newsleft h3 {
		font-size: 20px;
	}
	h1.heading, h2.heading, h3.heading {
		font-size: 30px;
	}
	h4.position.cont {
		font-size: 40px;
	}
	.estate {
		padding: 0 2em;
	}
	.profile h4 {
		font-size: 18px;
	}
	.navbar {
		padding: 0.5rem;
	}
	.slider_banner_info_w3ls {
		padding-top: 44%;
	}
	.navbar-toggler {
		font-size: 1rem;
	}
	.slider_banner_info_w3ls h4, .slider_banner_info_w3ls h1, .slider_banner_info_w3ls h2 {
		font-size: 1.8em;
		letter-spacing: 0px;
	}
	.callbacks_nav.next {
		left: 90%;
	}
	.service-grids span.fas, .service-grids span.fab {
		font-size: 40px;
	}
	.slider_banner_info_w3ls a.read {
		font-size: 14px;
		letter-spacing: 1px;
		padding: 12px 15px;
	}
	.slider_banner_info_w3ls a.read:after {
		width: 50px;
	}
	.price-selet a {
		font-size: .8em;
		padding: 0.7em 2em;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 15px;
	}
	.innerpage_banner, .dot1 {
		min-height: 140px;
	}
	p.param,p.read_para  {
		font-size: 15px;
	}
	.team-img a {
		margin-top: 3em;
	}
	.contact_info span {
		font-size: 25px;
	}
}
@media(max-width: 375px){
	.profile p {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.slider-img1, .slider-img2, .slider-img3, .slider-img4 {
		min-height: 420px;
	}
	h1.heading:after, h3.heading:after {
		width: 40px;
	}
	h4.position.cont {
		font-size: 38px;
	}
	.agile-team-grids {
		padding: 0 0em;
	}
	.team-img a {
		margin-top: 4em;
	}
	.contact_form input[type="submit"] {
		padding: 10px 15px;
		font-size: 15px;
	}
}
@media(max-width: 320px){
	.newsright input[type="email"] {
		float: none;
		width: 100%;
	}
	.newsright input[type="submit"] {
		width: 50%;
		margin-left: .1%;
	}
	.estate {
		padding: 0 1em;
	}
	.profile h4 {
		letter-spacing: 0px;
	}
	.slider_banner_info_w3ls {
		padding-top: 50%;
	}
	.navbar {
		padding: 0rem;
	}
	.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
		font-size: 22px;
		padding: 5px 10px;
	}
	.callbacks_nav.next {
		left: 87%;
	}
	.callbacks_nav.prev {
		left: 3%;
	}
	h4.position.cont {
		left: 15%;
		font-size: 35px;
	}
	h2.heading:after {
		width: 40px;
	}
	h1.heading, h2.heading, h3.heading {
		font-size: 27px;
	}
	h4.position.cont {
		font-size: 33px;
	}
}
/*-- //Responsive Design --*/